.contentContainer{
    background-color: #DBF6DB;
}
th{
    border: 1px solid black;
}
tbody{
    overflow-y: scroll;
}
.scrollableTable{
    width: 930px; 
    height: 280px; 
    overflow-y: scroll;
}
td{
    border: 1px solid black;
}
thead{
    border: 1px solid black;
}