.tableForm{
    width: 620px;
    height: 351px;
}

.tableContent{
    background-color: #DBF6DB;
}
.form-control{
    border: 1px solid rgb(4, 89, 95);
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #00929c;
    outline: 0;
    box-shadow: none;
}

.loginInput{
    flex-direction: column;
}

input{
    width: 20%;
}

p{
    font-size: 13px;
}

label{
    font-size: 10px;
}